{
	admin :2019
}

:80 {
	handle /admin/* {
		root * /srv/admin
		try_files {path} /index.html
		file_server
	}

	handle /api/* {
		reverse_proxy platform-api:3000
	}

	handle /ws/* {
		reverse_proxy platform-realtime:3001
	}

	handle /static/* {
		root * /srv/static
		file_server
	}

	handle {
		root * /srv/releases/default/current
		try_files {path} {path}/index.html /index.html
		file_server
	}
}
